
.wrapper {
    z-index: 99;
}

.btn-ct {
 
    font-size: 18px!important;
    padding: 4px 0!important;
    margin-bottom: 10px;
    background: #394939;
    width: 100%;    font-weight: 400!important;
    display: inline-block;
}

a.btn-ct img {
    display: inline-block;
}

a.btn-ct  {
    
 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.btnz-link {
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    padding: 0 5px;
}
   .btn-android img {
        display: inline;
    background: #fff;
    border-radius: 50%;
    padding: 8px;
    max-width: 40px;
    }
.btnz-link {
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    padding: 0 5px;
}
a.btnz.btnz-primary.btn-android {
      font-size: 12px;
    
}
body {
   
font-weight: 300;
   
background: #f4b600;
   
/*overflow: hidden;*/
}

 
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
   

.wrapper.form-success .containerz h1 {
    -webkit-transform: translateY(85px);
    transform: translateY(85px);
}

.containerz {
    /*max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;*/
    display: flex; /* establish flex container */
    flex-direction: column; /* make main-axis vertical */
    justify-content: center; /* align items vertically, in this case */
    align-items: center; /* align items horizontally, in this case */
    height: 600px; /* for demo purposes */
  
}

.miniflex{
   text-align: center;
   width: 350px;
   padding: 25px 0;
   border-radius: 10px;
}

.containerz h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

form {
    padding: 20px 0;
    position: fixed;
    z-index: 2;
    width:100%;
}

   form input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        width: 250px;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 0 auto 10px auto;
        display: block;
        text-align: center;
        font-size: 16px;
        color: white;
        transition-duration: 0.25s;
        font-weight: 300!important;
        border: #8f6B29 2px solid;
    }

         form input:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        form input[type=text]:focus, form input[type=password]:focus {
            background-color: white;
            width: 300px;
            color: #000000;
            font-weight: bold;
        }

        form input[type=submit] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: 0;
            background-color: white;
            border: 0;
            padding: 10px 15px;
            color: #000000; 
            background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
            background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
            border: #8f6B29 2px solid;
            border-radius: 3px;
            width: 250px;
            cursor: pointer;
            font-size: 18px;
            transition-duration: 0.25s;
        }
		
		 .btn {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: 0;
            background-color: white;
            border: 0;
            padding: 10px 15px;
            color: #000000;
            font-weight: bold;
            background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
            background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
            border: #8f6B29 2px solid;
            border-radius: 3px;
            width: 250px;
            cursor: pointer;
            font-size: 18px;
            transition-duration: 0.25s;
        }

            form input[type=submit]:hover {
                background-color: #f5f7f9;
                cursor: pointer;
                background: -webkit-linear-gradient(top, #DF9F28, #FDE08D, #8f6B29);
                background: linear-gradient(top, #DF9F28, #FDE08D, #8f6B29)
            }

.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

    .bg-bubbles li {
        position: absolute;
        list-style: none;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.15);
        bottom: -160px;
        -webkit-animation: square 25s infinite;
        animation: square 25s infinite;
        transition-timing-function: linear;
    }

        .bg-bubbles li:nth-child(1) {
            left: 10%;
        }

        .bg-bubbles li:nth-child(2) {
            left: 20%;
            width: 80px;
            height: 80px;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            -webkit-animation-duration: 17s;
            animation-duration: 17s;
        }

        .bg-bubbles li:nth-child(3) {
            left: 25%;
            -webkit-animation-delay: 4s;
            animation-delay: 4s;
        }

        .bg-bubbles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            -webkit-animation-duration: 22s;
            animation-duration: 22s;
            background-color: rgba(255, 255, 255, 0.25);
        }

        .bg-bubbles li:nth-child(5) {
            left: 70%;
        }

        .bg-bubbles li:nth-child(6) {
            left: 80%;
            width: 120px;
            height: 120px;
            -webkit-animation-delay: 3s;
            animation-delay: 3s;
            background-color: rgba(255, 255, 255, 0.2);
        }

        .bg-bubbles li:nth-child(7) {
            left: 32%;
            width: 160px;
            height: 160px;
            -webkit-animation-delay: 7s;
            animation-delay: 7s;
        }

        .bg-bubbles li:nth-child(8) {
            left: 55%;
            width: 20px;
            height: 20px;
            -webkit-animation-delay: 15s;
            animation-delay: 15s;
            -webkit-animation-duration: 40s;
            animation-duration: 40s;
        }

        .bg-bubbles li:nth-child(9) {
            left: 25%;
            width: 10px;
            height: 10px;
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            -webkit-animation-duration: 40s;
            animation-duration: 40s;
            background-color: rgba(255, 255, 255, 0.3);
        }

        .bg-bubbles li:nth-child(10) {
            left: 90%;
            width: 160px;
            height: 160px;
            -webkit-animation-delay: 11s;
            animation-delay: 11s;
        }

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}


.footer-logo img {
    max-width: 150px;
    margin: 10px 0;
}

.loginlogo {
    width: 100%;
    display: block;margin-bottom: 15px;
}

    .loginlogo img {
        max-width: 250px;
        float: none;
        display: inline-block;
    }

.logo img {
    max-height: 65px;
    padding: 5px 0;
}

@media(max-width:768px) {

    .containerz {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
        height: 500px;
        text-align: center;
    }


    .loginlogo img {
        max-width: 200px;
        display: inline-block;
    }
}

div#pnl_error {
    height: 22px;
    position: absolute;
    top: 0;
    width: 100%;
}
#lbl_error{display:block;text-align:center;}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

    .alert-success hr {
        border-top-color: #c9e2b3;
    }

    .alert-success .alert-link {
        color: #2b542c;
    }

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

    .alert-info hr {
        border-top-color: #a6e1ec;
    }

    .alert-info .alert-link {
        color: #245269;
    }

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

    .alert-warning hr {
        border-top-color: #f7e1b5;
    }

    .alert-warning .alert-link {
        color: #66512c;
    }

.alert-danger {
    color: #ffffff;
    background-color: #ff00009e;
    border-color: #b3b3b363;
}

    .alert-danger hr {
        border-top-color: #e4b9c0;
    }

    .alert-danger .alert-link {
        color: #843534;
    }